In [ ]:
data type
#  1.numeric
# 1.integer : without decimal point whole no ex, 345 ,45
# 2.float : without decimal point
# 3.complex : 1.real part 2.imaginary part

In [ ]:
int=345
print (int)
print (type(int))

345
<class 'int'>

In [ ]:
x = "hello word"
# display x:
print(x)
 # display the data type of x :
print(type(x))

hello word
<class 'str'>

In [ ]:
x = 20
# display x:
print(x)
# display the data type of x:
print(type(x))

20
<class 'int'>

In [ ]:
x = 20.5
# display x:
print(x)
# display the data type of x:
print(type(x))

20.5
<class 'float'>

In [ ]:
x = 1j
# display x:
print(x)
# display the data type of x:
print(type(x))

1j
<class 'complex'>

In [ ]:
x = [ "apple" "banana" "cherry"]
#display x:
print(x)
# display the data type of x:
print(type(x))

['applebananacherry']
<class 'list'>

In [ ]:
x =("apple", "banana", "cherry")
# display x:
print(x)
# display the